[Unit]
Description=Exec Guard
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/execguard
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
